:root {
    --primary-color: #73a854;
    --secondary-color: #f1ebda;
    --accent-color: #BC4749;
    --text-primary: #1E1E1E;
    --text-secondary: #555555;
    --btn-hover: #54942f;
    --bg-text: #ffffff;
    --card-bg: #FAFAF8;
    --border-color: #E0E0E0;

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Merriweather', serif;
}

body {
    min-height: 100vh;
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 3px;
}

.navbar-brand>i {
    color: var(--primary-color);
}

.navbar-collapse .form-control:hover {
    box-shadow: 0 4px 4px rgba(161, 220, 137, 0.2);
}

.navbar-collapse .btn {
    outline: 3px solid var(--primary-color);
}

.navbar-collapse .btn:hover {
    background-color: var(--primary-color);
    color: var(--bg-text);
    box-shadow: 2px 6px 6px rgba(161, 220, 137, 0.3);
}

.nav-item .btn1 {

    background-color: var(--primary-color);
    color: var(--bg-text);
}

.nav-item .btn1:hover {
    background-color: var(--btn-hover);
    color: var(--bg-text);
}

.nav-link {
    color: var(--text-secondary);
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: var(--accent-color);
    transform: translateY(-5px);
}

.dropdown-toggle {
    color: var(--text-secondary);
    font-weight: 500;
}
.dropdown-item:hover {
    color: var(--accent-color);
}
.search-container {
    position: relative;
    max-width: 400px;
    width: 100%;
}

.search-input {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding-left: 40px;
    background-color: var(--bg-text);
    height: 40px; 
    box-shadow: none;
    max-width: 200px;
}

.search-input:focus {
    background-color: #fff;
    outline: none;
    border-color: #0d6efd;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}
.dropdown-menu {
    max-width: 200px;
}

/* modal  */

.modal-content {
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
}

.modal-header {
    border-bottom: none;
    background-color: var(--primary-color);
    padding: 1.5rem;
    border-radius: 8px 8px 0 0;
}

.modal-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--bg-text);
    font-family: var(--font-secondary);
    width: 100%;
    text-align: center;
}
.modal-body {
    padding: 2rem;
}

.form-label {
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.form-control {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  box-shadow: none;
}

.form-control:focus {
  border-color: #6A994E;
  box-shadow: 0 0 6px rgba(106, 153, 78, 0.4);
}

.modal-body .btn {
    background-color: var(--primary-color);
    color: var(--bg-text);
    width: 100%;
    padding: 0.75rem;
    font-size: 1.25rem;
    border-radius: 8px;
}
.modal-body .btn:hover {
    background-color: var(--btn-hover);
    color: var(--bg-text);
    box-shadow: 0 4px 8px rgba(106, 153, 78, 0.3);

}
.forgot-link {
    font-size: 0.9rem;
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.signup-link,
.login-link {
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.signup-link:hover,
.login-link:hover {
    color: var(--btn-hover);
    text-decoration: underline;
}

/* hero section */
.hero {
    padding: 5rem 0;
}
.hero h1 {
    font-family: var(--font-secondary);
    font-size: 2.5rem;
    color: var(--primary-color);
}


.carousel-caption h5{
    font-family: var(--font-secondary);
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--secondary-color);
    font-weight: 600;
}
.carousel-caption p{
    font-size: 1.25rem;
    margin-top: 1rem;
    color: var(--bg-text);
    margin-left: 2rem;
}
.carousel-caption i{
    margin-right: 0.5rem;
    color: var(--primary-color);
}
.carousel-caption .icon-gold {
    color: #FFD700;
}

.feature {
    padding: 60px 0;
    background-color: var(--secondary-color);
}
.feature h2{
    color: var(--accent-color);
    padding-bottom: 2rem;
}
.feature-card {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 0 35px 0 35px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.icon-feature {
    font-size: 3rem;
    padding: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.feature-card h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.feature-card p {
    font-size: 1.2rem;
    color: var(--text-secondary);
    margin-bottom: 1rem;
}
.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* footer */


.footer h5{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer .web-name {
    color: var(--btn-hover);
}
.footer-link {
    color: var(--text-secondary);
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;

}
.footer-link:hover {
    color: var(--btn-hover);

}
.footer-social {
    color: var(--text-secondary);
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;

}
.footer-social:hover {
    color: var(--btn-hover);

}

/* left sidebar */

.left-card {
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.cover-section img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.content-section {
    padding: 1.5rem;
    position: relative;
}

.content-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 20%;
    transform: translate(-50%, -50%);
    border: 4px solid var(--border-color);
}
.content-section .p-name {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.content-section .p-bio {
    font-size: 0.9rem;
    color: var(--text-secondary);
}

.list-item {
    text-decoration: none;
    color: var(--text-primary);

}
.list-item:hover {
    color: var(--accent-color);
    font-weight: 600;
    text-decoration: underline;
}

/* create post */

.btn-group {
    display: flex;
    justify-content: space-around;

}
.btn-group button:nth-child(1) i {
    color: var(--btn-hover);
}
.btn-group button:nth-child(2) i {
    color: var(--text-secondary);
}
.btn-group button:nth-child(3) i {
    color: var(--accent-color);
}

.btn-group button > i {
    margin-right: 0.5rem;
}
.btn-group button {
    color: var(--text-secondary);
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}
.btn-group button:hover {
    color: var(--primary-color);
}

.btn-post{
    text-align: center;
    margin-right: 7rem;
}
.btn-post button{
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--bg-text);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.btn-post button:hover {
    background-color:var(--btn-hover);
    color: var(--bg-text);
}

.feed-body img {
    width: auto;
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}
.feed-body p {
    font-size: 0.9rem;
    color: var(--text-primary);
    margin: 1rem;
}

.btns button:nth-child(1):hover i {
  color: var(--accent-color);
  font-weight: 900;
}

.right-cards h6 {
    font-weight: 600;
    margin-bottom: 1rem;

}